.settings-button {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    background-image: url('/assets/textures/icons/settings-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.settings-button:hover {
    transform: rotate(90deg) scale(1.1);
}
